In [7]:
from pykrx import stock

# 1) 지수 코드 (예: KRX 기타금융 지수)
ticker = "138040"
start, end = "20250101", "20250617"

# 2) 지수 시계열 가져오기 (시가총액, 거래량, 지수)
df = stock.get_market_cap(start, end, ticker)
# df.columns == ['시가총액', '거래량', '지수']

# 3) divisor 역산
df['divisor'] = df['시가총액'] / df['지수']

print(df[['지수','시가총액','divisor']].head())

KeyError: '지수'

In [49]:
import pandas as pd

# ① KRX에서 내려받은 WICS 분류 CSV (euc-kr 인코딩) 경로
csv_path = "data_3627_20250618.csv"
df_cls = pd.read_csv(csv_path, encoding="euc-kr")

# ② 기타금융으로 필터
df_of = df_cls[df_cls["업종명"] == "기타금융"]
other_financials = ["삼성카드", "메리츠금융지주", "iM금융지주", "에이플러스에셋", "스틱인베스트먼트", "한국토지신탁", "한국자산신탁", "SK스퀘어"]
df_of = df_of[df_of["종목명"].isin(other_financials)]

# ③ 티커 포맷 맞추기 (6자리 문자열)
tickers = df_of["종목코드"].astype(str).str.zfill(6).tolist()

In [50]:
df_of

       종목코드       종목명   시장구분   업종명      종가    대비   등락률            시가총액
167  402340     SK스퀘어  KOSPI  기타금융  153400  3500  2.33  20331767617200
196  139130    iM금융지주  KOSPI  기타금융   11710  -110 -0.93   1948460074430
393  138040   메리츠금융지주  KOSPI  기타금융  108300 -1400 -1.28  19495567425900
463  029780      삼성카드  KOSPI  기타금융   50100  -400 -0.79   5804530439100
536  026890  스틱인베스트먼트  KOSPI  기타금융   10670  -240 -2.20    444706127250
600  244920   에이플러스에셋  KOSPI  기타금융    5920  -210 -3.43    133837542560
834  123890    한국자산신탁  KOSPI  기타금융    2465   -15 -0.60    301651727590
845  034830    한국토지신탁  KOSPI  기타금융    1228   -25 -2.00    310056774440

In [51]:
tickers

['402340',
 '139130',
 '138040',
 '029780',
 '026890',
 '244920',
 '123890',
 '034830']

In [91]:
start, end = "19970101", "20250617"
df_of_mktcap = stock.get_market_cap(start, end, '034830', 'm')

In [92]:
df_of_mktcap['시가총액']

날짜
2001-05-31    345600000000
2001-06-30    311400000000
2001-07-31    302400000000
2001-08-31    234000000000
2001-09-30    174600000000
                  ...
2025-02-28    251984251540
2025-03-31    250469316160
2025-04-30    266628626880
2025-05-31    295412399100
2025-06-30    310056774440
Freq: M, Name: 시가총액, Length: 290, dtype: int64

In [112]:
def calculate_other_financials_index(start_date: str,
                                     end_date: str,
                                     wic_csv_path: str,
                                     base_value: float = 1000.0):
    
    df_cls = pd.read_csv(wic_csv_path, encoding="euc-kr")
    df_of = df_cls[df_cls["업종명"] == "기타금융"]
    other_financials = ["삼성카드", "메리츠금융지주", "에이플러스에셋", "스틱인베스트먼트", "한국토지신탁", "한국자산신탁", "SK스퀘어"]
    #other_financials = ["삼성카드", "스틱인베스트먼트", "한국토지신탁"]
    df_of = df_of[df_of["종목명"].isin(other_financials)]
    tickers = df_of["종목코드"].astype(str).str.zfill(6).tolist()

    df_mktcap = pd.DataFrame()
    for ticker in tickers:
        df_temp = stock.get_market_cap(start_date, end_date, ticker, 'd')
        df_mktcap[ticker] = df_temp['시가총액']
        
    df_mktcap.index = pd.to_datetime(df_mktcap.index)
    
    base_sum = df_mktcap.iloc[0].sum()
    idx = df_mktcap.sum(axis=1).div(base_sum).mul(base_value)
    idx.name = "KRX_OF"
    
    return idx, df_mktcap

In [113]:
start, end = "19970701", "20250617"
wics_csv = "data_3627_20250618.csv"
of_index, df_mktcap = calculate_other_financials_index(start, end, wics_csv)
print(of_index)

날짜
2021-11-29    1000.000000
2021-11-30     937.173668
2021-12-01     901.150432
2021-12-02     947.746073
2021-12-03     939.620455
                 ...
2025-06-11    2145.623079
2025-06-12    2146.577944
2025-06-13    2114.877271
2025-06-16    2188.284023
2025-06-17    2194.970409
Name: KRX_OF, Length: 868, dtype: float64

In [116]:
of_index.to_csv("of_index.csv", encoding="utf-8-sig")

In [115]:
df_mktcap.tail(30)

,402340,138040,029780,026890,244920,123890,034830
날짜,,,,,,,
2025-04-30,11782882276200,22339796099300,4860280477450,410530023750,106595272495,285131247580,266628626880
2025-05-02,12100980335400,22069774389800,4848694588350,395942662500,106030080170,286354986840,270415965330
2025-05-07,12233521193400,21997768600600,4842901643800,400110480000,105125772450,290026204620,269658497640
2025-05-08,12326299794000,21853757022200,4808143976500,392608408500,106821349425,290026204620,269658497640
2025-05-09,12419078394600,21277710708600,4866073422000,390524499750,107386541750,291861813510,266881116110
2025-05-12,12617889681600,21061693341000,4883452255650,405111861000,113716695790,296144900920,268648540720
2025-05-13,13240831714200,21043691893700,4866073422000,417198531750,117107849740,294921161660,269658497640
2025-05-14,13717978803000,20989687551800,4871866366550,415948186500,117560003600,294921161660,271930900710
2025-05-15,13360118486400,20503648474700,4866073422000,411363587250,117786080530,292473683140,271425922250
2025-05-16,13598692030800,20305632554400,4866073422000,445956472500,119820772900,293697422400,275718239160
2025-05-19,13227577628400,20053612292200,4796558087400,441788655000,117786080530,291249943880,276223217620
2025-05-20,13399880743800,19945603608400,4848694588350,433453020000,117107849740,291249943880,276223217620
2025-05-21,13360118486400,20161620976000,4895038144750,441788655000,114168849650,291861813510,277738153000
2025-05-22,13055274513000,19603576109700,4929795812050,429285202500,112360234210,286354986840,285312829900
2025-05-23,13134799027800,19657580451600,4924002867500,421783131000,115977465090,286966856470,288342700660
2025-05-26,13585437945000,19711584793500,4999311146650,414281059500,119820772900,290638074250,288342700660
2025-05-27,13320356229000,19711584793500,4999311146650,439287964500,123438003780,288190595730,286322786820
2025-05-28,14340920835600,19837594924600,5016689980300,448873944750,128863850100,290026204620,286322786820
2025-05-29,15003625125600,20521649922000,5086205314900,445122909000,135194004140,300427988330,294654931410
2025-05-30,15215690498400,20107616634100,5005104091200,456792798000,136098311860,302875466850,295412399100
2025-06-02,14619256637400,20035610844900,4958760534800,424700603250,138133004230,302875466850,297937291400
2025-06-04,16527844992600,20503648474700,5115170037650,433453020000,142654542830,307158554260,310814242130
2025-06-05,17137532939400,19999607950300,5132548871300,438454401000,143106696690,308382293520,323943682090
2025-06-09,17044754338800,20449644132800,5503297322500,450541071750,138585158090,317560337970,328235999000
2025-06-10,17124278853600,20269629659800,5561226768000,454292107500,136776542650,315112859450,327731020540
2025-06-11,18343654747200,20305632554400,5885631662800,448873944750,139941619670,315724729080,330003423610
2025-06-12,18635244634800,20197623870600,5723429215400,458459925000,137454773440,312665380930,324953639010
2025-06-13,18396671090400,19819593477300,5700257437200,440121528000,139263388880,299816118700,317883940570
2025-06-16,19867874614200,19747587688100,5850873995500,454708889250,138585158090,303487336480,316369005190
2025-06-17,20331767617200,19495567425900,5804530439100,444706127250,133837542560,301651727590,310056774440